
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    
.}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    }
img {
  border: 5px solid #555;
}

<p style="background-image: url('images/cartoon%20pinecity.jfif')100% width 100% hight;">
 {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}